.profile__info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 54px;
    gap: 18px;
    align-items: left;
}

@media screen and (max-width: 1023px){
    .profile__info-container {
        margin-top: 22px;
    }
  }